<h1 class="display-4">
  Welcome To Arun Sails Project
</h1>

<p class="mb-4">This is a Sails Project</p>

<a href="/datastore/list" class="btn btn-light">View Data</a>
<a href="/datastore/add" class="btn btn-light">Add Data</a>