

<h1 class="display-4"> Employee Data</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <% datastores.forEach(function(datastore){ %>
        <tr>
            <td><%= datastore.id%></td>
            <td><%= datastore.createdAt%></td>
            <td><%= datastore.updatedAt%></td>
        </tr>

        <% }); %>
    </tbody>

</table>